@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
    font-size: 0.75rem;
}

:focus {
    outline: none;
}

button:hover {
    background-color: black;
}

@media (min-width: 768px) {
    ::placeholder {
    font-size: 1rem;
}
}

.images {
    animation: slide 15s linear infinite forwards;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}